<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        
        <title>Tileables</title>  
        <meta name="description" content="Tileables are collections of premium, pay-what-you-want, seamless patterns and textures for Photoshop." />
        <meta name="keywords" content="tileable, tileables, photoshop, patterns, .pat, textures, tiling, repeating, download, premium, seamless" />
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />

        <link rel="icon" type="image/png" href="{{ site.url }}/favicon.png" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.url }}/img/apple-touch-icon-144.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.url }}/img/apple-touch-icon-114.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.url }}/img/apple-touch-icon-72.png" />
        <link rel="apple-touch-icon-precomposed" href="{{ site.url }}/img/apple-touch-icon-57.png" />
        
        <link rel="stylesheet" href="{{ site.url }}/css/styles.css" />
    </head>