<header class="group">
    <div class="wrap">
        <h1><a class="hide-text" href="{{ site.url }}" title="Tileables">Tileables</a></h1>
        <ul>
            <li><a href="{{ site.url }}/packs" title="Packs">Packs</a></li>
            <li><a href="{{ site.url }}/faq" title="FAQ">FAQ</a></li>
            <li><a href="mailto:tileables@gmail.com" title="Email Me">Get In Touch</a></li>
        </ul>
    </div>
</header>

<section id="formats">
    <div class="wrap">
        <p>Not using Photoshop? Patterns are supplied in various formats: <span class="pat">PAT</span> <span class="png">PNG</span></p>
    </div>
</section>